@using Bankpplication.DTOs
@model AccountMasterDisplayAllDto

<h1>@Model.HeaderTitle</h1>

<h2>Current Customer strength is @Model.Count</h2>
<p>
    @Html.ActionLink("Add Customer", "Add", "Customer", null, new { @class = "btn btn-primary" })
</p>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Balance</th>
            <th>Edit</th>
            <th>delete</th>
        </tr>
    </thead>

    @foreach (var cid in Model.AccountMaster)
    {
        <tr>
            <td>@cid.Id</td>
            <td>@cid.Name</td>
            <td>@cid.Balance</td>
            <td>@Html.ActionLink("Edit", "Edit", "Customer", new { id = cid.Id })</td>
            <td>@Html.ActionLink("X", "Remove", "Customer", new { id = cid.Id }, new { onclick = "return fnAreYouSure()" })</td>
        </tr>
    }
</table>


<script>
    function fnAreYouSure() {
        return confirm('are you sure to delete this record?');
    }
</script>

