<h1>Displaying all the actions in home controller</h1>

@Html.ActionLink("Index Page","Index","Home")

@Html.ActionLink("Go to Index Page", "Index", "Home")
<br/>
@Html.ActionLink("Go to Veggie Page", "Veggie", "Home")
<br/>
@Html.ActionLink("Go to Random Page","Random","Home")
<br/>
@Html.ActionLink("Go to Greet Page", "Greet", "Home")
<br/>
@Html.ActionLink("Go to Payment Page", "Payment", "Home")
<br/>
@Html.ActionLink("Go to About Page", "About", "Home")
<br/>
